footer#cxo-footer-outer
  #cxo-footer-inner
    p.footer-container
      span Site by 
      a(href='http://hexo.io')
        span Hexo
      span  | theme 
      a(href='https://github.com/Longlongyu/hexo-theme-Cxo')
        span Cxo
    if (theme.count.busuanzi)
      i.fa.fa-user 
      span#busuanzi_value_site_uv
      span  | 
      i.fa.fa-eye 
      span#busuanzi_value_site_pv
    if (theme.count.baidu)
      script.
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?" + '!{theme.count.baidu}';
          var s = document.getElementsByTagName("script")[0]; 
          s.parentNode.insertBefore(hm, s);
        })();
