footer#cxo-footer-outer
  #cxo-footer-inner
    p.footer-container
      span Site by 
      a(href='http://hexo.io')
        span Hexo
      span  | theme 
      a(href='https://github.com/Longlongyu/hexo-theme-Cxo')
        span Cxo
    if (theme.busuanzi)
      i.fa.fa-user 
      span#busuanzi_value_site_uv
      span  | 
      i.fa.fa-eye 
      span#busuanzi_value_site_pv
