nav#cxo-intro-nav
  section
    .intro-nav-title
      a(href=theme.menu.Home)= theme.main_title || config.title
    .intro-nav-label-box
      each url, label in theme.menu
        a(href=url)= label
    i.fa.fa-bars.intro-nav-menu
      .intro-nav-drop
        each url, label in theme.menu
          a(href=url)= label
    .clear