#recent-posts {
  width: 80%;
  margin: auto;
  padding: 2rem;
}
.recent-post-item {
  color: $post-sub-text;
}
.post-title {
  display: block;
  margin-bottom: 1rem;
  a{
    @include compatible(transition,color 0.2s ease-in-out);
    font-size: 2rem;
    color: $post-title;
    &:hover {
      color: $post-title-hover;
    }
  }
}
.post-time {
  i {
    margin-right: 0.2rem;
  }
}
.recent-post-abstract {
  font-size: 1.2rem;
  @include position($position: relative);
  @include compatible(transition,all .1s);
}