if(theme.comment && theme.comment.changyan_appid && theme.comment.changyan_conf)
  #SOHUCS(sid=url_for(page.path))
  script(charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/changyan.js")
  script.
    window.changyan.api.config({appid: '!{theme.comment.changyan_appid}', conf: '!{theme.comment.changyan_conf}'});