body {
  width: 100%;
  font-family: $site-font-family;
}
a {
  text-decoration: none;
}
h1 {
  font-size: 150%;
}
hr {
  position: relative;
  margin: 1rem auto;
  width: 100%;
  border: 2px dashed #666666;
  background: #ffffff;
  height: 0;
  overflow: visible;
  display: block;
}
img {
  width: 100%;
}

// clear float
.clear {
  clear: both;
}
// layout
#cxo-content-outer {
  background-color: $content-inner-bgcolor;
  width: 100%;
}
#cxo-content-inner {
  width: 70%;
  padding: 4rem;
  margin: auto;
}
