body {
  min-height: 100%;
  width: 100%;
  font-family: $site-font-family;
}
a {
  text-decoration: none;
  color: $sub-color;
  @include compatible(transition,all .2s ease-in);
  &:hover {
    color: $main-color;
  }
}
hr {
  position: relative;
  margin: 1rem auto;
  width: 100%;
  border: 2px dashed #666666;
  background: #ffffff;
  height: 0;
  overflow: visible;
  display: block;
}
img {
  width: 100%;
}
h1,h2,h3,h4,h5,h6 {
  &:hover {
    color: $main-color;
  }
}
blockquote {
  border-left: 0.75rem solid $sub-color;
  color: $sub-color;
  margin-left: 0;
  padding: 0.5rem 2rem;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}
del {
  color: $sub-color;
}
::selection {
  background: $main-color; 
  color:white;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: rgba(0,0,0,0.2);
}
::-webkit-scrollbar-thumb {
  background-color: $main-color;
}
// clear float
.clear {
  clear: both;
}
// go-up
#go-up {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  padding: 0.5rem;
  border-radius: 50%;
  border: 2px solid $text-color;
  background-color: $text-color;
  color: snow;
  @include compatible(transition,all .4s ease-in-out);
  cursor: pointer;
  &:hover {
    border: 2px solid $main-color;
    color: $main-color;
  }
}
#go-up.close {
  right: -3rem;
}
// layout
#cxo-content-outer {
  background-color: $content-inner-bgcolor;
  width: 100%;
}
#cxo-content-inner {
  width: 70%;
  padding: 4rem;
  margin: auto;
}


