


// ========== code style ========== //
.recent-post-content,
.article-entry {
    // ========== toggle ========== //
    p {
        line-height: 1.5;
    }
    img {
        display: block;
        max-width: 100%;
        margin: 1rem auto 1rem;
        box-shadow: 0 0 4px 2px rgba(0,0,0,0.2);
    }
    a {
        color: #999999;
        text-align: center;
        &:focus {
            outline: none;
        }
        &:hover {
            color: $main-color;
            text-decoration: underline;

        }
    }
    >table {
        width: 100%;
        border: 1px solid $sub-color;
        margin: 1rem 0;
        border-collapse: collapse;
        box-shadow: 2px 2px 2px rgba(0,0,0,0.125);

        >thead {
            >tr {
                height: 2rem;
                background: $sub-color;
            }
        }
        >tbody {
            >tr {
                height: 2rem;
            }
        }
        th,td {
            border: 1px solid $sub-color;
            padding: 0.2rem 1rem 0 1rem;
            box-sizing: border-box;

        }
    }
    h1,h2,h3,h4,h5,h6 {
        position: relative;
        left: 1.5rem;
        @include compatible(transition,all .2s ease-out);
        &::before{
            position: absolute;
            top: calc(50% - .45rem);
            left: -1.5rem;
            color: $sub-color;
            content: "\f0c1";
            font: normal normal normal 16px/1 FontAwesome;
            @include compatible(transition,all .2s ease-out);
        }
        &:hover{
            left: 2rem;
            cursor: pointer;
            &::before {
                color: $main-color; 
            }
        }
    }
    blockquote {
        footer {
            font-size: 0.75rem;
            text-align: end;
        }
    }
    pre,
    .highlight {
        margin: 0.8rem 0;
        padding: 0.7rem 0.7rem;
        overflow: auto;
        font-size: 0.9rem;
        line-height: 1.3rem;
    }
    .highlight .gutter pre,
    .highlight .gutter pre .line,
    .gist .gist-file .gist-data .line-numbers {
        color: $sub-color;
        @include compatible(user-select,none);
    }
    pre,
    code {
        font-family: "Source Code Pro",
        Consolas,
        Menlo,
        Monaco,
        "Courier New",
        monospace;
        font-weight: 400;
    }
    code {
        background: $sub-color;
        color: white;
        padding: 1px 0.4rem;
        border-radius: 2px;
        margin: 0 0.2rem;
        border: none;
    }
    .highlight {
        border-radius: 4px;
        position: relative;
        pre {
            border: none;
            margin: 0;
            padding: 0;
        }
        table {
            margin: 0;
            width: auto;
            td {
                border: none;
                padding: 0;
            }
        }
        figcaption {
            color: highlight-comment;
            line-height: 1em;
            &:before,
            &:after {
                content: "";
                display: table;
            }
            &:after {
                clear: both;
            }
            a {
                float: right;
            }
        }
        .gutter {
            width: 1.5rem;
            padding-left: 0.2rem;
            pre {
                .line {
                    text-shadow: none;
                }
            }
        }
        .line {
            min-height: 19px;
        }
    }
    .highlight {
        padding-top: 2.4rem;
        >table {
            position: relative;
            width: 100%;
            &:after {
            position: absolute;
            top: -2.4rem;
            left: -1rem;
            z-index: 0;
            min-width: calc(100% + 1.7rem);
            height: 2rem;
            background: $height-light-bar;
            content: "";
            }
        }
        >figcaption {
            >span {
                position: absolute;
                top: .5rem;
                left: 1rem;
                z-index: 1;
            }
            >a {
                position: absolute;
                top: .5rem;
                right: 1rem;
                z-index: 1;
            }
        }
    }
    // ========== light color ========== //
    .highlight,
    pre {
        background: $height-light-bg;
        color: snow;
    }
    .highlight {
        pre .comment,
        pre .quote {
            color: #93a1a1;
        }

        /* Solarized Green */

        pre .keyword,
        pre .selector-tag,
        pre .addition {
            color: #859900;
        }

        /* Solarized Cyan */

        pre .number,
        pre .string,
        pre .meta .meta-string,
        pre .literal,
        pre .doctag,
        pre .regexp {
            color: #2aa198;
        }

        /* Solarized Blue */

        pre .title,
        pre .section,
        pre .name,
        pre .selector-id,
        pre .selector-class {
            color: #268bd2;
        }

        /* Solarized Yellow */

        pre .attribute,
        pre .attr,
        pre .variable,
        pre .template-variable,
        pre .class .title,
        pre .type {
            color: #f5d679;
        }

        /* Solarized Orange */

        pre .symbol,
        pre .bullet,
        pre .subst,
        pre .meta,
        pre .meta pre .keyword,
        pre .selector-attr,
        pre .selector-pseudo,
        pre .link {
            color: #cb4b16;
        }

        /* Solarized Red */

        pre .built_in,
        pre .deletion {
            color: #dc322f;
        }

        pre .formula {
            background: #eee8d5;
        }

        pre .emphasis {
            font-style: italic;
        }

        pre .strong {
            font-weight: bold;
        }

    } // ========== gist ========== //
    .gist {
        margin: 0 -20px;
        border-style: solid;
        border-color: #ddd;
        border-width: 1px 0;
        background: #272822;
        padding: 15px 20px 15px 0;
    }
    .gist .gist-file {
        border: none;
        font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
        margin: 0;
    }
    .gist .gist-file .gist-data {
        background: none;
        border: none;
    }
    .gist .gist-file .gist-data .line-numbers {
        background: none;
        border: none;
        padding: 0 20px 0 0;
    }
    .gist .gist-file .gist-data .line-data {
        padding: 0 !important;
    }
    .gist .gist-file .highlight {
        margin: 0;
        padding: 0;
        border: none;
    }
    .gist .gist-file .gist-meta {
        background: #272822;
        color: highlight-comment;
        font: 0.85em "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-shadow: 0 0;
        padding: 0;
        margin-top: 1em;
        margin-left: 20px;
    }
    .gist .gist-file .gist-meta a {
        color: #258fb8;
        font-weight: normal;
    }
    .gist .gist-file .gist-meta a:hover {
        text-decoration: underline;
    }

}

